{% extends "base.html" %}

{% block content %}
    <h2>Due Next:</h2>
    <div class="tracker-container">
        <table class="deadline-table">
            <thead>
                <tr>
                    <th>Task Description</th>
                    <th>Due Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for d in deadlines %}
                <tr class="deadline-row">
                    <td>
                        <input type="text" value="{{ d.task }}" class="field-task">
                    </td>
                    <td>
                        <input type="date" value="{{ d.date }}" class="field-date">
                    </td>
                    <td>
                        <span class="status-pill {{ d.status }}">{{ d.status.title() }}</span>
                    </td>

                </tr>
                {% else %}
                <tr>
                    <td colspan="4" style="text-align: center;">No deadlines found. Add one above!</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}